:root {
  --mainColor: #1e202b;
  --secondary-color: #009ad8;
}
body {
  background-color: var(--mainColor);
}
/* navbar start */
.navbar {
  background-color: var(--mainColor);
  color: white;
}
.nav-item .active{
  color: var(--secondary-color);
  border: 2px var(--secondary-color) solid;
  padding: 2px 15px;
  border-radius: 20px;
}
.navList{
  margin-right: 2px;
}
.logo-img {
  width: 60px;
}
.weather-nav {
  height: 8px;
}
/* navbar end */

/* search start */
.search-section {
  background-image: url(../img/banner.png);
  height: 350px;
  background-size: cover;
}
.search-form {
  background-color: var(--mainColor);
  padding: 5px;
}
.search-bar {
  background-color: transparent;
  border: transparent;
  color: lightgray;
}
.search-bar:focus {
  outline: none;
  color: lightgray;
}
.search-btn {
  background-color: var(--secondary-color);
  padding: 10px 40px;
}
/* search end */

/* weather start */
.today {
  background-color: #323544;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  color: #bfc1c8;
}
.atmw{
  background-color: #323544;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  color: #bfc1c8;

}
.today-head {
  border-top-left-radius: 10px;
  background-color: #2d303d;
  height: 50px;
}
.conditionImg{
  width:50px;
  height: 50px;
}
.atmw-head{
  background-color: #2d303d;
  height: 50px;
  border-top-right-radius: 10px;
  color: #bfc1c8;


}
.degree h1 {
  font-size: 50px;
}
.degree img {
  width: 30px;
  height: 30px;
}
.mode {
  color: var(--secondary-color);
}
.tmw {
  background-color: #262936;
  color: #bfc1c8;
}
.tmw-head {
  background-color: #222530;
  height: 50px;
}
.forecastImg{
  width: 50px;
  height: 50px;
}
/* weather end */

/* footer start */
.footer{
  background-color: #262936;
  color: lightgray;
}
/* footer end */